@CHARSET "UTF-8";

body{
	background-color: #f0f0f0;
	font-family: sans-serif;
	font-size: 12pt;
	color: #303030;
}

h1{
	font-size: 14pt;
}

a{
	cursor: pointer;
}

textarea{
	width: 100%;
}

input{
	font-size: 12pt;
}

.input_limit{
	width: 80px;
}

.monospace{
	font-family: monospace;
}

.table{
	display: table;
	width: calc(100% - 10px);
	padding-left: 5px;
	padding-right: 5px;
	border-spacing: 5px 0px;
}

.table2{
	width: 100%;
	padding: 5px;
	border-spacing: 5x;
}

.table_cell{
	display: table-cell;
}

.table_content{
	vertical-align: top;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #f0f0f0;
}

.table_header{
	font-weight: bold;
	text-align: center;
	padding: 5px;
	overflow: auto;
}

.border{
	border-style: solid;
	border-width: 1px;
}

.noborder{
	border-style: none;
}

.tr_top{
	vertical-align: top;
}

.td_max{
	width: 100%;
	padding: 5px;
}

.errortext{
	color: #ff0000;
}

.hidetext{
	display: none;
}

.centertext{
	text-align: center;
}

.righttext{
	text-align: right;
}

.inline_text{
	padding-right: 10px;
	padding-left: 10px;
	white-space: nowrap;
	vertical-align: middle;
}

.boldtext{
	font-weight: bold;
}

.tinytext{
	font-weight: normal;
	font-size: 10pt;
}

.smalltext{
	font-weight: normal;
	font-size: 12pt;
}

.block{
	display: block;
}

.button{
	padding: 10px;
	border-radius: 5px;
	background-color: #a6a6a6;
	text-decoration: none;
	color: #303030;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.smallbutton{
	padding: 5px;
}

.button img{
	vertical-align: middle;
}

.button3{
	width: 33%;
}

.button4{
	width: 25%;
}

.button5{
	width: 20%;
}

.bigbutton{
	padding-top: 20px;
	padding-bottom: 15px;
	font-weight: bold;
}

.biginput{
	font-size: 20pt;
	font-weight: bold;
}

.biginput input{
	font-size: 40pt;
	width: 160pt;
	text-align: right;
}

.groupitem{
	display: table;
	width: calc(100% - 10px);
	border-spacing: 5px 0px;
	margin-bottom: 0.5%;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #303030;
}

.groupitem img{
	vertical-align: middle;
}

.groupitem .button{
	display: table-cell;
	white-space: nowrap;
}

.group_left{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.group_right{
	display: table-cell;
	vertical-align: middle;
}

.hspacer{
	width: 100%;
	margin-top: 10px;
}

.mainframe{
	background-color: #ffffff;
	padding: 1%;
	width: 98%;
	border-top-width: 2px;
	border-top-style: solid;
}

.mainframe div:not(.divreset){
	width: calc(100% - 10px);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	
	border-radius: 10px;
}

.header{
	background-color: #f5f5f5;
	width: 100%;
	font-size: 20pt;
	font-weight: bold;
}

.header img{
	vertical-align: middle;
}

.header .groupitem{
	padding-top: 0.1%;
	padding-bottom: 0.1%;
	border-style: none;
}

.help{
	position: absolute;
	left: 12%;
	padding: 2%;
	width: 75%;
}

.overlay{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	background-image: url('img/overlay_bg.png');
	background-repeat: repeat;
}

.overlay_main{
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	max-height: 50%;
	padding: 5px;
	overflow: auto;
	
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #303030;
	font-weight: normal;
	font-size: 10pt;
	background-color: #ffffff;
}

.overlay_content{
	max-height: 50%;
	overflow: auto;
}

.status_message{
	position: absolute;
	top: 1%;
	left: 20%;
	padding: 10px;
	text-align: center;
	width: 60%;
	
	border-radius: 10px;
	border-color: #303030;
}


.warehouseslist{
	overflow: auto;
	max-height: 50%;
}

.hightlimited{
	overflow: auto;
	max-height: 50%;
}

.width25{
	width: 25%;
}

.height80{
	max-height: 75%;
	overflow: auto;
}

.nopadding{
	padding: 0px;
}

.register input{
	width: 100%;
}

.footer{
	font-size: 8pt;
}

.lightgray{
	background-color: #d6d6d6;
}

.highlight{
	background-color: #f0f0f0;
}

.red{
	background-color: #ff8686;
}

.lightred{
	background-color: #ff9191;
}

.green{
	background-color: #86ff86;
}

.yellow{
	background-color: #ffff86;
}

.purple{
	background-color: #ff86ff;
}

.blue{
	background-color: #8686ff;
}

.turqouis{
	background-color: #adfcff;
}

.orange{
	background-color: #ffb95e;
}