@CHARSET "UTF-8";

body{
	background-color: #f0f0f0;
	font-family: sans-serif;
	font-size: 12pt;
	color: #303030;
}

h1{
	font-size: 14pt;
}

textarea{
	width: 100%;
}

.table{
	display: table;
	width: calc(100% - 20px);
	padding: 10px;
	border-spacing: 5px 0px;
}

.table_cell{
	display: table-cell;
}

.td_max{
	width: 100%;
	padding: 5px;
}

.errortext{
	color: #ff0000;
}

.hidetext{
	display: none;
}

.centertext{
	text-align: center;
}

.righttext{
	text-align: right;
}

.inline_text{
	padding-right: 10px;
	padding-left: 10px;
	white-space: nowrap;
	vertical-align: middle;
}

.text_bold{
	font-weight: bold;
}

.tinytext{
	font-weight: normal;
	font-size: 10pt;
}

.smalltext{
	font-weight: normal;
	font-size: 12pt;
}

.block{
	display: block;
}

.button{
	padding: 10px;
	border-radius: 5px;
	background-color: #a6a6a6;
	text-decoration: none;
	color: #303030;
	vertical-align: middle;
	text-align: center;
}

.smallbutton{
	padding: 5px;
}

.button img{
	vertical-align: middle;
}

.button3{
	width: 33%;
}

.button4{
	width: 25%;
}

.button5{
	width: 20%;
}

.bigbutton{
	padding-top: 20px;
	padding-bottom: 15px;
	font-weight: bold;
}

.biginput{
	font-size: 20pt;
	font-weight: bold;
}

.biginput input{
	font-size: 40pt;
	width: 160pt;
	text-align: right;
}

.groupitem{
	display: table;
	width: 100%;
	border-spacing: 5px 0px;
	margin-bottom: 0.5%;
	border-style: solid;
	border-width: 1px;
	border-color: #303030;	
}

.groupitem img{
	vertical-align: middle;
}

.groupitem .button{
	display: table-cell;
	white-space: nowrap;
}

.group_left{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.hspacer{
	width: 100%;
	margin-top: 10px;
}

.mainframe{
	background-color: #ffffff;
	padding: 1%;
	width: 98%;
}

.mainframe div:not(.warehousedescription){
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1%;
	padding-bottom: 1%;
	
	border-radius: 10px;
	border-color: #303030;
}

.mainframe div.breadcrumps{
	padding-top: 0.2%;
	padding-bottom: 0%;	
}

.header{
	background-color: #f5f5f5;
	width: 100%;	
	font-size: 20pt;
	font-weight: bold;
}

.header img{
	vertical-align: middle;
}

.help{
	position: absolute;
	left: 12%;
	padding: 2%;
	width: 75%;
}

.breadcrumps{
	font-size: 10pt;
	color: #a0a0a0;
	margin-bottom: 2%;
}

.breadcrumps a{
	color: #a0a0a0;
	text-decoration: none;
}

.breadcrumps a:hover{
	text-decoration: underline;
}

.description_overlay{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 30%;
	max-height: 20%;
	padding: 5px;
	overflow: auto;
	
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #303030;
	font-weight: normal;
	font-size: 10pt;
	background-color: #ffffff;
}

.warehouseslist{
	overflow: auto;
	max-height: 50%;
}

.loadinggif{
	display: none;
}

.register input{
	width: 100%;
}

.footer{
	font-size: 8pt;
}

.lightgray{
	background-color: #d6d6d6;
}

.highlight{
	background-color: #f5f5f5;
}

.red{
	background-color: #ff8686;
}

.lightred{
	background-color: #ff9191;
}

.green{
	background-color: #86ff86;
}

.yellow{
	background-color: #ffff86;
}

.purple{
	background-color: #ff86ff;
}

.blue{
	background-color: #8686ff;
}

.orange{
	background-color: #ffb95e;
}